$primary: #8f6496;
$secondary: #ba8bc1;
$darkGray: #464f41;
$lightGray: #9ba894;

body {
  font-family: 'Raleway', sans-serif;
  color: $darkGray;
}

hr {
  border-color: $lightGray;
}

.container {
  width: 80%;
  margin-left: 10%;
}

.colored {
  color: $primary;
}

.faded {
  color: $lightGray;
}

// NAVBAR

.header-font, .navbar-brand {
  font-family: 'Coiny', cursive;
  color: $primary;
}

.navbar {
  padding-top: 60px;
  background: $primary;
  border-bottom: 1px solid $darkGray;
  margin-bottom: 20px;

  .navbar-brand {
    font-size: 4em;
    color: white;
    text-align: center;
    padding-bottom: 50px;

    &:hover, &:focus {
      color: white;
    }
  }

  li a {
    color: white !important;
    font-size: 1.2em;
    margin-top: 15px;

    &:hover, &:focus {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .dropdown-menu li a {
    color: $primary !important;
  }

  .dropdown-toggle:focus {
    color: $primary !important;
  }
}

.modal-header {
  background: $primary;
  color: white;
  font-family: 'Coiny', cursive;
}

.white-x {
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 1px $darkGray;
}


// LINKS & BUTTONS

a {
  color: $darkGray;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.btn-link {
  color: $primary;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.btn-main, .btn-main:focus {
  background: $primary;
  color: white;
  border: 1px solid white;
  outline: 0 !important;
}

.btn-main:hover {
  background: $secondary;
  color: white;
  border: 1px solid $primary;
}

.btn-inverse, .btn-inverse:focus {
  background: white;
  color: $darkGray;
  border: 1px solid $primary;
  outline: 0 !important;
}

.btn-inverse:hover {
  background: white;
  color: $primary;
  border: 1px solid $secondary;
}

.btn-lg {
  padding: 10px 50px;
  width: 100%;
  font-family: 'Coiny', cursive;
  font-size: 1.75em;
}

.btn-icon {
  background: transparent;
  width: 50px;
}

.arrows {
  width: 100%;
}

.btn-nav {
  margin-top: 45px;
  margin-right: 10px;
  float: right;
}

// CONTENT

.answer-tile {
  width: 90%;
  margin-left: 5%;
}

.answer-score {
  width: 50px;
  margin: 0;
  text-align: center;
}

.downvotes {
  color: red;
  font-size: 1em;
}

.upvotes {
  color: green;
  font-size: 1em;
}

.left-div {
  display: inline-block;
  margin-right: 20px;
}

.right-div {
  position: relative;
  display: inline-block;
  top: -40px;
}
