<div class='container'>
  <ul>
    {{#each model as |question|}}
      {{#link-to 'question' question.id}}<li>
        <h4>{{question.author}} asks:</h4>
        <p>{{question.content}}</p>
      </li>{{/link-to}}
    {{/each}}
  </ul>
</div>
