<div class='row'>
  <div class='col-sm-7'>
    <h3>All Questions:</h3>
    {{question-list questions=model}}
  </div>
  <div class='col-sm-5'>
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
