<div>
  <h2 class='header-font'>{{model.content}}</h2>
  {{#each model.answers as |answer|}}
    <p>{{answer.content}}</p>
  {{/each}}

  {{update-question question=model update="update"}}

  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
