<div>
  {{question-detail question=model update="update"}}

  {{#if model.answers}}
    <h3 class='answer-tile'>Answers:</h3>
  {{/if}}

  {{answer-list answers=model.answers updateAnswer="updateAnswer"}}

  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
